<ul class="site-nav" id="accessibleNav">

  {% unless linklists.main-menu.links.first.url == '/' %}
  <li class="large--hide">
    <a href="/">{{ 'general.breadcrumbs.home' | t }}</a>
  </li>
  {% endunless %}




  {% comment %} Generate Menu for loop {% endcomment %}
  {% for link in linklists.main-menu.links %}
  {% assign child_list_handle = link.title %}

  {% comment %} Generate Icon Name  {% endcomment %}
  {% assign iconName = link.title  | replace: ' ', '_' | replace: '?', '' | replace: '®', '' | append: '-menu-icon.png' %}

  {% comment %} If there are any submenu items, enable the "site-nav--has-dropdown" class {% endcomment %}
  {% if linklists[child_list_handle].links != blank %}
  <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">

  <div style="display:block; -webkit-align-content: center; align-content: center;">
    <a href="{{ link.url }}" >
      <div class="img"> <img class="cb-menu-icon event_menu_click" data-action-detail="{{ link.title }}" src="{{ iconName | file_url }}"></div>
      <p>{{ link.title }}</p>
    </a>
  </div>
    
<ul class="site-nav--dropdown">
  {% for childlink in linklists[child_list_handle].links %}
  <li {% if childlink.active %}class="site-nav--active"{% endif %}><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
  {% endfor %}
</ul>
</li>
{% else %}
 <li {% if link.active %}class="site-nav--active"{% endif %}>
  <div >
    <a href="{{ link.url }}" >
 <div class="img"> <img class="cb-menu-icon" src="{{ iconName | file_url }}"></div>
      <p>{{ link.title }}</p>
    </a>
  </div>
</li>
{% endif %}
{% endfor %}

{% if shop.customer_accounts_enabled %}
{% if customer %}
<li class="customer-navlink large--hide"><a href="/account">{{ 'layout.customer.view_account' | t }}</a></li>
<li class="customer-navlink large--hide">{{ 'layout.customer.log_out' | t | customer_logout_link }}</li>
{% else %}
<li class="customer-navlink large--hide">{{ 'layout.customer.sign_in' | t | customer_login_link }}</li>
<li class="customer-navlink large--hide">{{ 'layout.customer.create_account' | t | customer_register_link }}</li>
{% endif %}
{% endif %}

</ul>
